*{
        font-family: "Jersey 10", sans-serif;
        font-size: 20px;
        font-style: normal;
        margin: auto 0;
      
}

#frase{
    background-color:#79caf9;


}
#bulbasaurPlayer{
    width: 210px;
    margin-bottom: 50px;
}

#squirtlePlayer{
    width: 310px;
    margin-bottom: 50px;
}

#charmanderPlayer{
    width: 310px;
}

#muted{
    width: 50px;
    margin: auto 9px;
}

h1{
    font-size: 60px;
    text-align: center;
}

#squirtleDiv,#charmanderDiv,#bulbasaurDiv{
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    height: 450px;
    width: 100%;
    background-image: url(images/arena.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.starterContainer{
    gap: 70px;
    display:flex;
    justify-content: space-between;
    height: 700px;
    width: 100%;
    background-image: url(images/starter-background.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.fightarea{
    display: flex;
    height: 450px;
    gap:20px;
    flex-direction: column;
    justify-content: space-between;
}

#opponent img{
    width: 170px;
}



#opponent {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    justify-content: top;
}

#player{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

#player .right{
    margin-top: 145px;
}

#bulbasaurRight{
    margin-top: 125px;
}


.lifebar{
    height:10px;
    width: 400px;
    border:1px solid black;
    border-radius: 5px;
}

.lifebar .bar{
    height: inherit;
    background-color: #95e6ba;
    border-radius: 5px;

}

.log{
    border:1px dotted gray;
    height: 117px;
    overflow-y:scroll ;
    list-style: none;
}

.logArea{
    height: 120px;
    color: white;
    background-color: #254f67;
    border: rgb(199, 163, 77) solid 8px;
}

footer{
    display: flex;
    height: 80px;
    background-color: antiquewhite;
    color: black;
    justify-content: center;
    align-items: center;
}

